.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow-x: hidden;
}

.container {
  border: 2px solid gray;
  border-radius: 15px;
  width: 300px;
  height: 400px; 
  align-self: center;
  box-shadow: 0px 0px 25px gray;
}
.display {
  height: 20%;
  border-bottom: 2px solid;
}
.buttons {
  display: grid;  
  grid: repeat(6, calc(300px/6))/ repeat(4, calc(300px/4));  
}
.btn {
  border-radius: 10px;
  border: 1.5px solid gray;
  margin: 4px;
  text-align: center;
  font-size: 1.5em;  
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn:hover {
  border: 2px solid gray;
}
.sign {
  background-color:steelblue;
}
