.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  overflow-x: hidden;
}

.calculator {
  display: grid;
  grid: 25% 75% / 100%;
  border: 2px solid gray;
  border-radius: 15px;
  width: 300px;
  height: 400px; 
  align-self: center;
  box-shadow: 0px 0px 25px gray;
}
.display {
  display: grid;
  border-bottom: 2px solid;
  font-size: 1.5em;
  justify-items: end;
}
.display p {
  text-align: end;
}
.buttons {
  display: grid;  
  grid: repeat(6, calc(300px/6))/ repeat(4, calc(300px/4));  
}
.btn {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1.5px solid gray;
  margin: 5px;
  font-size: 1.2em;  
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  tab-size: 1px;
}
.btn:focus {
  border: 2px solid black;
}
.sign {
  background-color:steelblue;
}
