body {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.calculator {
  display: grid;
  grid: 25% 75% / 100%;
  align-self: center;
  width: 370px;
  height: 450px;
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 0px 0px 25px gray;
}

.display {
  display: grid;
  font-size: 1.5em;
  justify-items: end;
  border-bottom: 2px solid gray;
}

.input {
  width: 362px;
  text-align: end;
  margin: 0 0;
  font-size: 1em;
  font-family: system-ui, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  outline: none;
  user-select: none;
}


.buttons {
  display: grid;
  grid: repeat(6, calc(100%/6))/ repeat(4, calc(100%/4));
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  font-size: 1.15em;
  font-weight: 550;
  font-family: system-ui, sans-serif;
  border: 1.5px solid gray;
  border-radius: 5px;
  outline: none;
  user-select: none;
}

.btnDown,
.btn:active {
  opacity: 60%;
}

.sign {
  background-color: rgba(163, 115, 46, 0.39);
}

.equals {
  background-color: steelblue;
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 5px 5px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: gray;
  background: #fff;
}